.rc-slider-track {
  background-color: lightseagreen;
}

.rc-slider-dot-active {
  border-color: lightseagreen;
  border: solid 2px lightseagreen;
}

.rc-slider-handle {
  background-color: white;
  border-color: lightseagreen;
}

.rc-slider-handle:hover {
  border-color: lightseagreen;
}

.rc-slider-handle-active:active {
  border-color: lightseagreen;
}